attrs
Babel
bcc
blinker
certifi
chardet
click
colorama
configobj
cryptography
dbus-python
defer
distro
distro-info
filelock
fsspec
h11
httplib2
huggingface-hub
idna
inquirerpy
Jinja2
jsonpatch
jsonpointer
jsonschema
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
markdown-it-py
MarkupSafe
m
netaddr
netifaces
oauthlib
olefile
packaging
pexpect
pfzy
pillow
prompt_toolkit
psycopg2
ptyprocess
pycairo
pycups
Pygments
PyGObject

pyparsing
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
pytz
pyxdg
PyYAML
requests
rich
setuptools
six
ssh-import-id
systemd-python
tqdm
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
uvicorn
uvloop
wadllib
wcwidth
wheel
wsproto
xdg
xkit
